In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_user = [[1,'JohnnyD','johnny_depp@gmail.com'],[2,'Ronaldo7','c_ronaldo@gmail.com'], 
             [3,'PrattPrattPratt','chrisp@gmail.com'],[4,'ChrisEvans101','evanslovesdogs@gmail.com'],
             [5,'ImSpidey','tomholland2013@gmail.com'],[6,'Cucumberbatch','itscumberbatch@gmail.com'],
             [7,'SpoilerAlert1','markruffalo@gmail.com'],[8,'TheQueen','zendaya@gmail.com']]

data_movie = [[1,'Guardians of the Galaxy',('Action, Adventure, Comedy, Sci-Fi'),2017],
              [2,'Anabelle',('Horror, Mystery, Thriller'),2014],
              [3,'Anabelle: Creation', ('Horror, Mystery, Thriller'),2017],
              [4,'Avatar',('Action, Adventure, Fantasy,Sci-Fi'),2009],
              [5,'The Dark Knight',('Action, Crime, Drama, Thriller'),2008],
              [6, 'Paranormal Activity', ('Horror, Mystery'), 2007]]

data_ratings = [['15/05/18', 2, 1, 4.9,'no'],['24/02/19', 4, 6, 4.9,'no'],['02/10/16', 3, 1, 4.2,'no'],
                ['11/09/20', 1, 3, 5.0,'no'],['17/03/21', 2, 2, 4.9,'yes'],['09/04/19', 2, 6, 3.5,'no'],
                ['29/01/20', 1, 5, 1.0,'no'],['18/04/18', 2, 8, 4.9,'yes'],['12/12/20', 5, 4, 5.0,'no'],
                ['25/02/21', 3, 5, 4.0,'no'],['15/05/18', 2, 3, 2.0,'no'],['17/05/18', 3, 3, 2.0,'no'],
                ['21/02/21', 6, 3, 5.0,'no']]

user = pd.DataFrame(data=data_user, columns=['User_id', 'Username', 'Email'])
movie = pd.DataFrame(data=data_movie, columns=['Movie_id', 'Movie_Title', 'Genre', 'Year_Released'])
ratings = pd.DataFrame(data=data_ratings, columns=['Date', 'MovieID', 'UserID', 'Rating', 'New_User'])

In [ ]:
# Q1. Classifying users. 4 Types of classification:
#1. User never made movie review --> Non-rater
#2. User has made only 1 review --> Infrequent rater
#3. More than 1, avg more than 4* --> Generous rater
#4. Otherwise, <= 4 --> Stingy rater

#Write pandas that uses these classifications

In [143]:
df

,User_id,Username,Email,Date,MovieID,UserID,Rating,New_User
0,1,JohnnyD,johnny_depp@gmail.com,15/05/18,2,1,4.9,no
1,1,JohnnyD,johnny_depp@gmail.com,02/10/16,3,1,4.2,no
2,2,Ronaldo7,c_ronaldo@gmail.com,17/03/21,2,2,4.9,yes
3,3,PrattPrattPratt,chrisp@gmail.com,11/09/20,1,3,5.0,no
4,3,PrattPrattPratt,chrisp@gmail.com,15/05/18,2,3,2.0,no
5,3,PrattPrattPratt,chrisp@gmail.com,17/05/18,3,3,2.0,no
6,3,PrattPrattPratt,chrisp@gmail.com,21/02/21,6,3,5.0,no
7,4,ChrisEvans101,evanslovesdogs@gmail.com,12/12/20,5,4,5.0,no
8,5,ImSpidey,tomholland2013@gmail.com,29/01/20,1,5,1.0,no
9,5,ImSpidey,tomholland2013@gmail.com,25/02/21,3,5,4.0,no
10,6,Cucumberbatch,itscumberbatch@gmail.com,24/02/19,4,6,4.9,no
11,6,Cucumberbatch,itscumberbatch@gmail.com,09/04/19,2,6,3.5,no
12,8,TheQueen,zendaya@gmail.com,18/04/18,2,8,4.9,yes

In [160]:
# df.groupby(df["Username"])["Rating"].mean()
df.groupby(df["Username"])["Rating"].value_counts()
ratings["UserID"].unique()

array([1, 6, 3, 2, 5, 8, 4])

In [187]:
def get_user_status(row):
    if row["num_rating"] == 0:
        row["class"] = "Non-rater"
    elif row["num_rating"] == 1:
        row["class"] = "Infrequent rater"
    else:
        if row["avg_rating"] > 4:
            row["class"] = "Generous rater"
        else:
            row["class"] = "Stingy rater"
    return row

In [188]:
ratings.loc[
    :,
    ["UserID", "Rating"]
].groupby(
    "UserID"
).agg(
    num_rating=("Rating", "count"),
    avg_rating=("Rating", np.mean),
).reset_index(
).apply(get_user_status,
       axis=1
).merge(
    user,
    left_on="UserID",
    right_on="User_id",
    how="right"
)

,UserID,num_rating,avg_rating,class,User_id,Username,Email
0,1.0,2.0,4.55,Generous rater,1,JohnnyD,johnny_depp@gmail.com
1,2.0,1.0,4.90,Infrequent rater,2,Ronaldo7,c_ronaldo@gmail.com
2,3.0,4.0,3.50,Stingy rater,3,PrattPrattPratt,chrisp@gmail.com
3,4.0,1.0,5.00,Infrequent rater,4,ChrisEvans101,evanslovesdogs@gmail.com
4,5.0,2.0,2.50,Stingy rater,5,ImSpidey,tomholland2013@gmail.com
5,6.0,2.0,4.20,Generous rater,6,Cucumberbatch,itscumberbatch@gmail.com
6,NaN,NaN,NaN,NaN,7,SpoilerAlert1,markruffalo@gmail.com
7,8.0,1.0,4.90,Infrequent rater,8,TheQueen,zendaya@gmail.com

In [189]:
df = user.merge(ratings, left_on="User_id", right_on="UserID", how="left")

df.groupby("Username").agg(avg_rating=pd.NamedAgg(column="Rating", aggfunc=np.mean),
                           num_rating=pd.NamedAgg(column="Username", aggfunc="count")
                          ).reset_index().apply(get_user_status, axis=1)

          Username  avg_rating  num_rating             class
0    ChrisEvans101        5.00           1  Infrequent rater
1    Cucumberbatch        4.20           2    Generous rater
2         ImSpidey        2.50           2      Stingy rater
3          JohnnyD        4.55           2    Generous rater
4  PrattPrattPratt        3.50           4      Stingy rater
5         Ronaldo7        4.90           1  Infrequent rater
6    SpoilerAlert1         NaN           1  Infrequent rater
7         TheQueen        4.90           1  Infrequent rater

In [ ]:
# Modeling Weight = Height + constant term. Linear regression setup
# Write out equation for this linear equation

# W = (Beta_1) H + c

# Identify parameters and variables (data)

# Parameter is Beta_1 and c, variables is Weight

In [ ]:
# Avg height: 170cm.
# Sample: 80
# Probability: 90%
# 99% of people are within 166.2cm - 182.5cm. True or False? 

# False. 99% of the time, people are within low-high range.

# Z-score for 99% is 2.576

In [ ]:
# Q: Diff of means test. 50 men, 50 women.
# Apply statistical test. What's the name of the test?
# ANS: T-stat

# Q: P-value: 0.031. True or False: Probability that M&W have diff heights is 0.031?
# ANS: False

# Q: What's the null hypothesis for this test?
# ANS: Men and women have the same height. i.e. H0 = H1

# Q: Will I reject the null hypothesis at 95% level of significance?
# ANS: Yes. P < 0.05

# Q: What about at 99% level of significance?
# ANS: No. P > 0.01