In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data_user = [[1,'JohnnyD','johnny_depp@gmail.com'],[2,'Ronaldo7','c_ronaldo@gmail.com'], 
             [3,'PrattPrattPratt','chrisp@gmail.com'],[4,'ChrisEvans101','evanslovesdogs@gmail.com'],
             [5,'ImSpidey','tomholland2013@gmail.com'],[6,'Cucumberbatch','itscumberbatch@gmail.com'],
             [7,'SpoilerAlert1','markruffalo@gmail.com'],[8,'TheQueen','zendaya@gmail.com']]

data_movie = [[1,'Guardians of the Galaxy',('Action, Adventure, Comedy, Sci-Fi'),2017],
              [2,'Anabelle',('Horror, Mystery, Thriller'),2014],
              [3,'Anabelle: Creation', ('Horror, Mystery, Thriller'),2017],
              [4,'Avatar',('Action, Adventure, Fantasy,Sci-Fi'),2009],
              [5,'The Dark Knight',('Action, Crime, Drama, Thriller'),2008],
              [6, 'Paranormal Activity', ('Horror, Mystery'), 2007]]

data_ratings = [['15/05/18', 2, 1, 4.9,'no'],['24/02/19', 4, 6, 4.9,'no'],['02/10/16', 3, 1, 4.2,'no'],
                ['11/09/20', 1, 3, 5.0,'no'],['17/03/21', 2, 2, 4.9,'yes'],['09/04/19', 2, 6, 3.5,'no'],
                ['29/01/20', 1, 5, 1.0,'no'],['18/04/18', 2, 8, 4.9,'yes'],['12/12/20', 5, 4, 5.0,'no'],
                ['25/02/21', 3, 5, 4.0,'no'],['15/05/18', 2, 3, 2.0,'no'],['17/05/18', 3, 3, 2.0,'no'],
                ['21/02/21', 6, 3, 5.0,'no']]

user = pd.DataFrame(data=data_user, columns=['User_id', 'Username', 'Email'])
movie = pd.DataFrame(data=data_movie, columns=['Movie_id', 'Movie_Title', 'Genre', 'Year_Released'])
ratings = pd.DataFrame(data=data_ratings, columns=['Date', 'MovieID', 'UserID', 'Rating', 'New_User'])

In [13]:
def get_rating(row):
    if "Horror" in row["Genre"]:
        row["Rating_Desc"] = "Exceptional"
    elif row["Rating"] > 4:
        row["Rating_Desc"] = "Mediocre"
    else:
        row["Rating_Desc"] = "Rotten"
    return row

In [17]:
movie.merge(            # First I join the tables on the movie id
    ratings,
    left_on="Movie_id",
    right_on="MovieID",
).loc[                  # Second I select the relevant columns
    :, ["Movie_Title", "Genre", "Rating"]
].groupby(
    ["Movie_Title", "Genre"]
).agg(
    np.mean
).reset_index(
).apply(
    get_rating,
    axis=1
)

,Movie_Title,Genre,Rating,Rating_Desc
0,Anabelle,"Horror, Mystery, Thriller",4.04,Exceptional
1,Anabelle: Creation,"Horror, Mystery, Thriller",3.40,Exceptional
2,Avatar,"Action, Adventure, Fantasy,Sci-Fi",4.90,Mediocre
3,Guardians of the Galaxy,"Action, Adventure, Comedy, Sci-Fi",3.00,Rotten
4,Paranormal Activity,"Horror, Mystery",5.00,Exceptional
5,The Dark Knight,"Action, Crime, Drama, Thriller",5.00,Mediocre